<nav
  class="navbar navbar-expand-lg navbar-light bg-white w-100 navigation"
  id="navbar"
>
  <div class="container">
    <a class="navbar-brand font-weight-bold" href="#">Clear H2O</a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#main-navbar"
      aria-controls="main-navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="navbar-nav mx-auto"></ul>
    </div>
    <!-- Navbar-collapse -->

    <ul class="top-menu list-inline mb-0 d-none d-lg-block" id="top-menu">
      <li class="list-inline-item">
        <a href="#" class="search_toggle" id="search-icon"
          ><i class="tf-ion-android-search"></i
        ></a>
      </li>

      <li class="dropdown cart-nav dropdown-slide list-inline-item">
        <a
          href="#"
          class="dropdown-toggle cart-icon"
          data-toggle="dropdown"
          data-hover="dropdown"
        >
          <i class="tf-ion-android-cart"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="#"><i class="tf-ion-ios-person mr-3"></i></a>
      </li>
    </ul>
  </div>
</nav>
